{% extends 'base/base.html' %}

{% load static %}

{% block links%}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<script type="text/javascript" src="{% static 'home/js/home.js'%}"></script>
{% endblock %}

{% block body %}

<div class="grid-container">

    <div class="greeting">
        <div class="font-30">
            Greetings fellow humans!
        </div>
        <div class="font-40 heading-font">
            I'm Becky.
        </div>
        <div class=font-18>
            Thanks for stopping by! Spend some time at my bookshelf, check out my blog or just get to know a little about me. 
        </div>
        
    </div>

    <div class="menu">
        <div id="bookshelf" class="bookshelf btn">
            <a id="one" href="{% url 'bookshelf' %}" onmouseover="textDown('banner1')" onmouseout="textUp('banner1')">
                <img src="{% static 'home/images/shelf.png' %}"/>
            </a>
            <div id="banner1" class="font-24 banner">
                My Bookshelf
            </div>
        </div>

        <div id="blog" class="blog btn">
            <a id="two" href="{% url 'blog' %}" onmouseover="textDown('banner2')" onmouseout="textUp('banner2')">
                <img src="{% static 'home/images/blog.png' %}"/>
            </a>
            <div id="banner2" class="font-24 banner">
                My Blog
            </div>
        </div>

        <div id="academics" class="academics btn">
            <a id="three" href="{% url 'academia' %}" onmouseover="textDown('banner3')" onmouseout="textUp('banner3')">
                <img src="{% static 'home/images/self.png' %}"/>
            </a>
            <div id="banner3" class="font-24 banner">
                My Self
            </div>
        </div>
    </div>
</div>
{% endblock %}