{% extends 'base/base.html' %}

{% load static %}

{% block links%}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<script type="text/javascript" src="{% static 'home/js/home.js'%}"></script>
{% endblock %}

{% block body %}

<div class="row-1">
    <div class="top-text">
        <div style="font-size: 50pt;">
            Hi, I'm
        </div>
        <div style="font-size: 70pt;">
            Becky
        </div>
    </div>
    <div class="top-pic">
        <img src="{% static 'home/images/book-with-flower.jpg' %}"/>
    </div>

</div>
<div class="row-2">
    <div class="bottom-pic">
        <img src="{% static 'home/images/cat.jpg' %}"/>
    </div>
    <div class="bottom-text">
        &emsp;This is where you should write a few sentences about yourself. Maybe include that
        you're a writer, something(s) you enjoy doing (hobbies, etc.), or whatever you wish.
        Basically a succinct elevator pitch. But most importantly, you want to quickly establish that
        you write well, possibly cleverly.
    </div>
</div>
{% endblock %}