

body{
    background-color: #E2CAA8;
    color: white;
}

/* add in a media query for the height of 450, when the 
word becky overflows into the div beneath */

@media screen and (max-width: 900px){

    img{
        border-radius: 5px;
        border-style: solid;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        border-color: #2F3C7E;
        max-width: 100%;
    }

    /* ******START OF the greeting and top picture section****** */
    .row-1{
        display: flex;
        background-color: #E2CAA8;
        flex-direction: column-reverse;
    }

    .top-text{
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        text-shadow: 1px 1px 5px #33A7B2;
    }

    .top-pic{
        display: flex;
        justify-content: center;
        background-color: #33A7B2;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
        padding: 15px;
    }
    /* ******END OF the greeting and top picture section****** */

    /* ******START OF the intro-body text and picture section****** */
    .row-2{
        display: block;
        background-color: #33A7B2;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    }

    .bottom-pic{
        display: flex;
        justify-content: center;
        padding: 15px;
    }

    .bottom-text{
        font-size: 16pt;
        line-height: 2;
        padding: 50px;
        /* text-shadow: 1px 1px 15px #E2CAA8; */
        color: white;
    }
    /* ******END OF the intro-body text and picture section****** */

}

@media screen and (min-width: 900px){

    img{
        border-radius: 5px;
        border-style: solid;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        border-color: #2F3C7E;
    }

    /* ******START OF the greeting and top picture section****** */
    .row-1{
        display: flex;
        /* 50% of view height, 97 */
        height: 48.5vh;
        background-color: #E2CAA8;
    }

    .top-text{
        display: flex;
        flex: 30%;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        text-shadow: 1px 1px 5px #33A7B2;
    }

    .top-pic{
        display: flex;
        flex: 70%;
        width: 100%;
        justify-content: center;
        padding: 15px;
    }
    /* ******END OF the greeting and top picture section****** */

    /* ******START OF the intro-body text and picture section****** */
    .row-2{
        display: flex;
        /* 40% of view height, 97 */
        height: 48.5vh;
        background-color: #33A7B2;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    }

    .bottom-pic{
        display: flex;
        flex: 30%;
        width: 100%;
        justify-content: center;
        padding: 15px;
    }

    .bottom-text{
        display: flex;
        flex: 70%;
        font-size: 16pt;
        line-height: 2;
        padding: 50px;
        align-items: center;
        /* text-shadow: 1px 1px 15px #E2CAA8; */
        color: white;
    }
    /* ******END OF the intro-body text and picture section****** */
}
