.font-12{
    font-size: 12pt;
}

.font-18{
    font-size: 18pt;
}

.font-24{
    font-size: 24pt;
}

.font-30{
    font-size: 30pt;
} 

.font-36{
    font-size: 36pt;
}

.white{
    color: white;
}
  
@media screen and (min-width: 800px) {

    .name{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body{
        background-color: rgba(232, 220, 184, 0.884);
    }

    .grid-container{
        border: solid;
        display: grid;
        grid-template-rows: 20% 60% 20%;
        height: 97vh;
    }

    .menu{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-evenly;
    }
    
    .strip{
        position: relative;
        background-color: azure;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        border: solid;
        margin-top: 90%;
    }

    .bookshelf{
        background-image: url("/static/home/images/bookshelf.jpg");
        background-size: cover;
        border-radius: 25px;
        border: solid;
    }

    .blog{
        background-image: url("/static/home/images/blog.jpg");
        background-size: cover;
        border-radius: 25px;
        border: solid;
        
    }

    .academics{
        background-size: cover;
        border-radius: 25px;
        border: solid;
    }

    .quote{
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .btn{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
        border-width: thick;
    }

    .bottom-left{
        margin-bottom: 0%;
    }


}