.grid-container{
    display: grid;
    grid-template-rows: 20% 80%;
}

.shelf{
    border: solid;
    border-color: burlywood;
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
    grid-template-rows: 200px;
}

.book{
    display: flex;
    justify-content: center;
    align-items: center;
}