{% extends 'base/base.html' %}

{% load static %}

{% block links%}
<link rel="stylesheet" href="{% static 'bookshelf/css/bookshelf.css' %}">
<script type="text/javascript" src="{% static 'bookshelf/js/bookshelf.js'%}"></script>
{% endblock %}

{% block body %}

<div class="grid-container"></div>
    <div>
        <h1>
            Becky Bookshelf
        </h1>
    </div>

    <a href="{% url 'add_book' %}" style="text-decoration: none; color: black;">
        add book
    </a>

    <div class="shelf">
        <div></div>
        <div class="book" style="border: solid;">
            hello
        </div>
        <div></div>
        <div class="book" style="border: solid;">
            there
        </div>
        <div></div>
        <div class="book" style="border: solid;">
            Gamer
        </div>
        <div></div>
    </div>
    
</div>
{% endblock %}